    <body>
    <div style="display:none" aria-hidden="true">
    \(

        \newcommand\llb{[\![}
        \newcommand\rrb{]\!]}
        \newcommand\1{{\mathbb 1}}
        \newcommand\ud{\,\mathrm{d}}
        \newcommand{\transp}[1]{{}^t\!#1}
        \newcommand{\bf}[1]{{\boldsymbol #1}}
        \newcommand{\cov}[2]{\Cov\left(#1,#2\right)}
        \newcommand{\E}[1]{\mathbb{E}\left[#1\right]}
        \newcommand\N{\mathbb{N}}
        \newcommand\Norm{\mathcal{N}}
        \newcommand\R{\mathbb{R}}
        \newcommand\Z{\mathbb{Z}}
        \newcommand{\ps}[2]{\left\langle #1 \,,\, #2 \right\rangle}
        \newcommand{\V}[1]{\mathbb{V}\left[#1\right]}
        \DeclareMathOperator*{\argmax}{argmax}
        \DeclareMathOperator*{\argmin}{argmin}
        \DeclareMathOperator*{\med}{med}
        \DeclareMathOperator{\tr}{tr}
        \DeclareMathOperator{\Cov}{Cov}
        \DeclareMathOperator{\e}{e}
    \)
    </div>
    </body>
